<div class="container">
  <form>
    <div class="imagePlaceholder">
      <img id="dogImage" class="imageStyle" [src]="newDog.imageURL" alt="new dog image"/>
    </div>
    <div class="dog-name">
      <input type="text" [formControl]="dogName" placeholder="Dog Name"/>
    </div>
    <div class="dog-image">
      <input type="url" (change)="updateImage()" [formControl]="dogImageUrl" placeholder="link to dog image"/>
    </div>
    <div class="dog-sex">
      <div class="male">
        <input type="radio" id="male" [formControl]="dogSex" [value]=true>
        <label for="male">Male</label>
      </div>
      <div class="female">
        <input type="radio" id="female" [formControl]="dogSex" [value]=false>
        <label for="female">Female</label>
      </div>
    </div>
    <div class="dog-age">
      <select [formControl]="dogAge">
        <option *ngFor="let age of dogAgeList;" [value]="age">
          {{age}}
        </option>
      </select>
    </div>
    <div class="dog-breed">
      <input type="text" [formControl]="dogBreed" placeholder="Dog Breed" />
    </div>
    <div class="dog-description">
      <textarea class="descriptionStyle" [formControl]="dogDescription" placeholder="Please provide a detailed description of this dog"></textarea>
    </div>
    <div class="dog-summary">
      <input type="text" [formControl]="dogSummary" placeholder="Please provided a short summary of this dog"/>
    </div>
    <div class="submitButton">
      <button (click)="submitDog()" class="single-page-button">Add Dog</button>
    </div>
  </form>
</div>