.single-page {
  display: grid;
  grid-template-columns: auto;
}

.single-page-header {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
  /* border-style: dashed;
  border-width: 1px;
  border-color:  lightblue;
  padding: 10px; */
}

#single-page-card {
  border-radius: 20px;
  border-color: #FFC93F;
  background-color: white;
  border-style: solid;
  width: 50vw;
  /* height: 60vh; */
  padding-bottom: 10px;
}

.single-page-dog-img {
  grid-row: 1;
  grid-column: 1;
  width: 30vw;
  clip-path: circle();
  /* object-fit: cover;
  /* border-radius: 100%; */
  /* border-style: solid; */
  /* border-width: 3px; */
  /*border-color: lightgray; */
}

.single-page-dog-name {
  text-align: center;
  /* color: black; */
  margin-top: -0.3em;
}

.single-page-information {
  text-align: left;
  grid-row: 1;
  grid-column: 2;
  /* color: black; */
  font-size: large;
  align-items: center;
}

.single-page-about-dog {
  /* color: black; */
  border-color: #856084;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 0px 3px 8px #888888;
  /* width: 90%; */
  margin: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  font-size: medium;
  /* display: inline-block; */
}

.deleteButtonDiv {
  text-align: center;
  margin: 5px;
}
/* .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". imagePlaceholder ."
    "dog-name dog-name dog-name"
    "dog-image dog-image dog-image"
    "dog-sex dog-age dog-breed"
    "dog-description dog-description dog-description"
    "dog-summary dog-summary dog-summary"
    "dog-location dog-location dog-location"
    ". submitButton .";
}

.dog-name {
  justify-self: start;
  grid-area: dog-name;
}

.dog-image {
  justify-self: start;
  grid-area: dog-image;
}

.imagePlaceholder {
  grid-area: imagePlaceholder;
}

.imageStyle {
  width: 200px;
  clip-path: circle();
  border-width: 1px;
  border-color: aliceblue;
  border-style: solid;
  display: none;
}

.dog-sex {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "male female";
  justify-self: stretch;
  grid-area: dog-sex;
}

.male { grid-area: male; }

.female { grid-area: female; }

.dog-age {
  justify-self: start;
  grid-area: dog-age;
}

.dog-breed {
  justify-self: start;
  grid-area: dog-breed;
}

.dog-description { grid-area: dog-description; }

.descriptionStyle {
  width: 100%;
  height: 100%;
  outline: none;
}

.dog-summary { grid-area: dog-summary; }

.dog-location {
  justify-self: start;
  grid-area: dog-location;
}

.submitButton {
  grid-area: submitButton;
} */
