<div class="FormHeader">
  <div style="text-align: center;">
    <img id="dogImage" alt="new dog image" src="../../../assets/images/image-not-found.png" class="clip-circle"/>
  </div>
  <div style="text-align: center;">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  </div>
  <div class="AdoptionBody">
    <form class="myForm">
      <label for="customer_name">Dog Name </label>
      <input type="text" [formControl]="dogName" placeholder="Please enter the name of the dog"/>
      <label for="dogSex">Sex</label>
      <span id="dogSex">
        <label for="male">Male</label>
        <input type="radio" id="male" [formControl]="dogSex" [value]=true>
        <label for="female">Female</label>
        <input type="radio" id="female" [formControl]="dogSex" [value]=false>
      </span>
      <label for="dogAge">Age</label>
      <select id="dogAge" [formControl]="dogAge">
        <option *ngFor="let age of dogAgeList;" [value]="age">
          {{age}}
        </option>
      </select>
      <label for="dogBreed">Breed</label>
      <input name="dogBreed" type="text" [formControl]="dogBreed" placeholder="Please enter the breed of the dog" />
      <label for="summary">Summary</label>
      <input id="summary" type="text" [formControl]="dogSummary" placeholder="Please provided a short summary of the dog"/>
      <label for="description">Description</label>
      <textarea id="description" style="background-color: #E5E5E5;" class="descriptionStyle" [formControl]="dogDescription" placeholder="Please provide a detailed description of the dog. Please also include the adoption price"></textarea>

      <!-- <label for="email_address">Your Email </label>
      <input type="email" name="email_address" id="email_address" required/>
      <label for="comments">Message</label>
      <textarea style="background-color: #E5E5E5;" name="comments" id="comments" maxlength="500" placeholder="Please write a message to the foster for why you want to adopt this dog" required></textarea> -->
    </form>
  </div>
  <div style="text-align: center;">
    <button class='single-page-button' (click)='cancel()'>Cancel</button>
    <button (click)="submitDog()" class="single-page-button">Add Dog</button>
  </div>
</div>
