.about-grid {
  margin-top: -1em;
  display: grid;
  grid-template-columns: auto auto;
}

.one{
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 40px;
  text-align: center;
}

.two{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.three {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.four {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.about-image {
  width: 15vw; 
  clip-path: circle();
  text-align: center;
}

.about-links {
  color: white;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
}

.about-links:hover {
  opacity: 1;
}