<div>
  <h1>The Hearts Behind It All</h1>
  <div class="about-grid">
      <div class="one">
          <a href="https://github.com/LuFrei" class="about-links" target="_blank">
              <img src="https://avatars.githubusercontent.com/u/32626445?v=4" class="about-image" />
              <div>
                  Lucas
              </div>
            </a>
      </div>
      <div class="two">
          <a href="https://github.com/EricDavenport" class="about-links" target="_blank">
              <img src="https://avatars.githubusercontent.com/u/55724749?v=4" class="about-image" />
              <div>
                  Eric
              </div> 
          </a>
      </div>

      <div class="three">
          <a href="https://github.com/monterojavier" class="about-links" target="_blank">
              <img src="https://avatars.githubusercontent.com/u/34133510?v=4" class="about-image" />
              <div>
                  Javi
              </div>
            </a>
      </div>
      <div class="four">          
        <a href="https://github.com/CJGarciaMusic" class="about-links" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/50566094?v=4" class="about-image" />
          <div>
              CJ
          </div>
        </a>
      </div>
  </div>
</div>