<!-- <div class='card-header'>
  {{pageTitle + ': ' + dog?.name}}
</div> -->


<div class="FormHeader">
  <div style="text-align: center;">
    <img alt={{dog?.name}} src={{dog?.imageUrl}} class="clip-circle"/> 
    <h2>{{dog?.name}}</h2>
  </div>
  <div class="AdoptionBody">
    <form class="myForm">
      <label for="customer_name">Your Name </label>
      <input type="text" name="customer_name" id="customer_name" required/>
      <label for="email_address">Your Email </label>
      <input type="email" name="email_address" id="email_address" required/>
      <label for="comments">Message</label>
      <textarea style="background-color: #E5E5E5;" name="comments" id="comments" maxlength="500" placeholder="Please write a message to the foster for why you want to adopt this dog" required></textarea>
    </form>
  </div>
  <div style="text-align: center;">
    <button class='single-page-button'
            (click)='onBack()'>
      <i></i> Back To Details
    </button>
    <button class='single-page-button'
            (click)='onSubmit()'>
      <i></i> Submit Application
    </button>
  </div>
</div>


<!-- <div class='col-md-4'>
  <img class='center-block img-responsive'
       [style.width.px]='200'
       [style.margin.px]='2'
       [src]='dog?.imageUrl'
       [title]='dog?.name'>
</div> -->

