<!-- <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <div style="margin-right: 50px" >
    <a (click)="auth.logout({ returnTo: document.location.origin })" class="nav_links">Log out</a>
  </div>
</ng-container>

<ng-template #loggedOut>
  <div style="margin-right: 50px" class="standardLink">
    <a (click)="auth.loginWithRedirect()" class="nav_links">Login</a>
  </div>
</ng-template> -->
<button class="single-page-button">Log In As User</button>
<button class="single-page-button">Log In As Developer</button>