.FormHeader {
  border-radius: 20px;
  border-color: #FFC93F;
  background-color: white;
  border-style: solid;
  width: 50vw;
  /* height: 60vh; */
  padding-bottom: 10px;
}

.AdoptionBody {
  display: grid;
  grid-template-columns: auto;
  width: 50vw;

}

h2 {
  /* margin-top: -10px; */
  color: black;
  margin-top: -0.25em;

}

.myForm {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  font-size: large;
  /* background: #eee; */
  padding: 1.2em;
  margin-top: -1em;
}
.myForm > label  {
  grid-column: labels;
  grid-row: auto;
}
.myForm > input,
.myForm > textarea,
.myForm > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 1em;
}

.clip-circle {
  width: 30vw; 
  clip-path: circle();
  margin-top: 10px;
}


input {
  background-color: #E5E5E5;
  border-style: none;
}

label {
  color: black;
}

.single-page-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#84e296),
    to(#49d463)
  );
  background-image: -webkit-linear-gradient(top, #84e296, #49d463);
  background-image: -o-linear-gradient(top, #84e296, #49d463);
  background-image: linear-gradient(to bottom, #84e296, #49d463);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
}