
<div>Filter by:</div>
<div>
  <input type='text'
  [(ngModel)]='listFilter' />
</div>
<div *ngIf='listFilter'>
  <div>
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
  </div>
  <div>
    <div *ngFor='let dog of filteredDogs'>
      <a [routerLink]="['/dogs', dog.name]">
      <div class="gridBox">
        <div class="photo">
            <img [src]='dog.imageUrl' class="photoStyle" />
        </div>
        <div class="textContent">
          <p class="name">{{dog.name}}</p>
          <p class="summary">{{dog.summary}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>