<div className="single-page">
  <div id="single-page-card">
    <div className="single-page-header">
      <div>
        <img
          class="center-block img-responsive single-page-dog-img"
          [style.width.px]="200"
          [style.margin.px]="2"
          [src]="dog?.imageUrl"
          [title]="dog?.name"
          alt="Brown and white dog with tounge sticking out"
        />
        <h2 className="single-page-dog-name">{{ dog?.name }}</h2>
      </div>
      <div className="single-page-information">
        <p>
          Sex: {{ dog?.sex }}
          <br />
          Age: {{ dog?.age }}
          <br />
          Breed: {{ dog?.breed }}
          <br />
          Location: {{ dog?.location }}
        </p>
      </div>
    </div>
    <div className="single-page-about-dog">
      <p>{{ dog?.description }}</p>
    </div>
    <div className="single-page-button-div">
      <button
        class="btn btn-outline-secondary single-page-button"
        style="width: 80px"
        (click)="onBack()"
      >
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button
        class="btn btn-outline-secondary single-page-button"
        style="width: 80px"
        (click)="toForm()"
      >
        <i class="fa fa-chevron-left"></i> Interested?
      </button>
    </div>
  </div>
</div>
