.flex-container {
  display: flex;
  flex-direction: row;
}

.filterInput {
  width: 100%;
}

thead {
  color: #337AB7;
}

.gridBox{
  display: grid;
  grid-template-columns: 250px auto;
  border: solid 3px #856084;
  border-radius: 15px;
  margin: 10px;
  max-width: 800px;
}

.photo{
  grid-column: 1;
}

.photoStyle{
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15%;
  padding: 10px;
  /* border: solid 3px black; */
}

.textContent {
  text-align: left;
  grid-column: 2;
}

.name{
  color: #069;
  font-weight: bold;
  font-size: xx-large;
  text-align: left;
}

.summary { 
  color: #069;
  font-size: large;
  text-align: left;
  overflow-y:auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: 0.2 ease-in-out;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

