<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
        [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'>
             <!-- *ngIf='dogs.length'> -->
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'
                      (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Name</th>
            <th>Sex</th>
            <th>Breed</th>
            <th>Location</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let dog of filteredDogs'>
            <td>
              <img *ngIf='showImage'
                   [src]='dog.imageUrl'
                   [title]='dog.name'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/dogs', dog.name]">
                {{ dog.name }}
              </a>
            </td>
            <td>{{ dog.sex }}</td>
            <td>{{ dog.breed }}</td>
            <td>{{ dog.location }}</td>
            <td> {{ dog.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>