.single-page {
  display: grid;
  grid-template-columns: auto;
}

.single-page-header {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
  /* border-style: dashed;
  border-width: 1px;
  border-color:  lightblue;
  padding: 10px; */
}

#single-page-card {
  border-radius: 20px;
  border-color: #FFC93F;
  background-color: white;
  border-style: solid;
  width: 50vw;
  /* height: 60vh; */
  padding-bottom: 10px;
}

.single-page-dog-img {
  grid-row: 1;
  grid-column: 1;
  width: 30vw;
  clip-path: circle();
  /* object-fit: cover;
  /* border-radius: 100%; */
  /* border-style: solid; */
  /* border-width: 3px; */
  /*border-color: lightgray; */
}

.single-page-dog-name {
  text-align: center;
  color: black;
  margin-top: -0.3em;
}

.single-page-information {
  text-align: left;
  grid-row: 1;
  grid-column: 2;
  color: black;
  font-size: large;
  align-items: center;
}

.single-page-about-dog {
  color: black;
  border-color: #856084;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 0px 3px 8px #888888;
  /* width: 90%; */
  margin: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  font-size: medium;
  /* display: inline-block; */
}
