.flex-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  padding: 20px;
  width: 50vw;
}

.flex-rows-child {
  /* border-radius: 3px;
  background-color: #A2CBFA;
  border: 1px solid #4390E1;
  box-sizing: border-box; */
  /* box-shadow: 0 2px 2px rgb(0 90 250 / 5%), 0 4px 4px rgb(0 90 250 / 5%), 0 8px 8px rgb(0 90 250 / 5%), 0 16px 16px rgb(0 90 250 / 5%); */
  /* height: 60px; */
  flex-grow: 1;
  /* margin-bottom: 2%; */
  text-align: center;

}

.flex-rows-break {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  /* border: 1px solid #ddd;
  margin-bottom: 2%; */
}

.flex-rows-break-invisible {
  border: 0;
  margin: 0;
}


#tokenDiv {
  font-family: 'Roboto Mono', sans-serif;
  color: darkslategray;
  width: 47vw;
  border-radius: 10px;
  border-color: lightgray;
  padding: 5px;
  margin: 5px;
  overflow-wrap: break-word;
  background-color: lightgray;
}

#tokenAll {

  visibility: hidden;
}