<ng-container *ngIf="auth.isAuthenticated$ | async; else notLoggedIn">
<button (click)="toUploadForm()" class="single-page-button">Add New Dog</button>
<button (click)="auth.logout({ returnTo: document.location.origin })" class="single-page-button">Log out</button>

  <ul *ngIf="auth.user$ | async as user">
    <li>
      <img src={{user.picture}}/>
    </li>
    <li>{{ user.name }}</li>
    <li>{{ user.email }} {{userDB?.email}}</li>
  </ul>
  <button class="single-page-button" (click)="getUserToken()">Click here to get JWT</button>
  <div id="tokenAll" style="text-align: center;">
    <div #tokenDiv id="tokenDiv">{{token}}</div>
    <button (click)="copyToClipboard(tokenDiv)" class="single-page-button">Copy Text</button>
  </div>
</ng-container>

<ng-template #notLoggedIn>
  <div>
    <p>How the @#$% did you get here?</p>
  </div>
</ng-template>