/* You can add global styles to this file, and also import other style files */
body {
  background-color: #c1cad6;
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
}
