/* You can add global styles to this file, and also import other style files */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #c1cad6;
  color: #333;
}
/* 
input[type=file]::file-selector-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#84e296),
    to(#49d463)
  );
  background-image: -webkit-linear-gradient(top, #84e296, #49d463);
  background-image: -o-linear-gradient(top, #84e296, #49d463);
  background-image: linear-gradient(to bottom, #84e296, #49d463);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
} */


.single-page-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#84e296),
    to(#49d463)
  );
  background-image: -webkit-linear-gradient(top, #84e296, #49d463);
  background-image: -o-linear-gradient(top, #84e296, #49d463);
  background-image: linear-gradient(to bottom, #84e296, #49d463);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
}

.single-page-button:hover{
  cursor: pointer;
}

.standardBorder {
  /* text-align: center; */
  border-radius: 20px;
  border-color: #FFC93F;
  background-color: white;
  border-style: solid;
  /* width: 50vw; */
  padding: 10px;
  margin: 10px;
}