<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.svg" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Javier Montero</h3>
        <h3>Lucas Freitas</h3>
        <h3>Eric Davenport, Jr.</h3>
        <h3>CJ Garcia</h3>

      </div>

      <div class="text-center">
        <a href="https://github.com/Multi-Mod-1/Pawdoption-Angular">Github Repository</a>
      </div>
    </div>
  </div>
</div>