<div class="welcomeContainer">
  <div class="welcomeText" style="margin-top: 20px">
    <div class="logoTextContainer">
      <div>
        <div class="logoTextChild">Welcome to P</div>
        <div class="logoTextChild">
          <img alt="pawdoption logo" src="assets/logo.svg" />
        </div>
        <div class="logoTextChild">WDOPTION</div>
      </div>
    </div>
  </div>
  <div class="welcomeLogo">
    <img alt="pawdoption logo" src="assets/logo.svg" width="75%" height="75%"/>
  </div>
  <div class="publicLogin">
    <button (click)="toHome()" class="single-page-button">Continue to Public Database</button>
  </div>
  <div class="developerLogin">
    <button (click)="auth.loginWithRedirect()" class="single-page-button">Continue to Developer Log-in</button>
  </div>
</div>